#box
{
	width:100%;
	height: 600px;
	background-image: url("images/new19.jpg");
	background-size: 100% 100%;
}
.demo1
{
	list-style: none;
	float:left;
}
.lianjie1{
	display: block;
	background-color: #ccc;
	line-height: 30px;
	width: 80px;
	height: 28px;
	text-align: center;
	margin-right: 20px;
	color:#222;
	text-decoration:none;
}
.lianjie1:hover
{
	background-color: #f93;
	color:#fff;

}
#share
{
     display: none;
     position: absolute;
     background-color: rgba(66,66,66,0.5);
     
}
#share ul li 
{
     list-style: none;
}
#share ul li a
{
	display: block;
	text-decoration: none;
	color:#6f6;
	margin-top: 10px;
}
#anli
{
	display: none;
     position: absolute;
     background-color: rgba(66,66,66,0.5);
}
#anli ul li
{
    list-style: none;
}
#anli ul li a
{
	display: block;
	text-decoration: none;
	color: #6f6;
	margin-top: 10px;
}
#box3
{
	float:left;
}

.table1
{
	
	margin-bottom:10px;
}
.table1 tr td
{
	width:410px;
	height:400px;
	 
}
.flash
{
	border-radius: 10px;
	position: relative;
	-webkit-transition: 1s;
	-webkit-transform: translateY(30px);
	
}
.flash:hover
{
	  transform: scale(1.1);
}

@keyframes myflash
{
	0% {right: 300px;}
	100% {}
}
#move
{
	width: 200px;
	height: 20px;
	background-color: #c36;
	position: absolute;
	top:596px;
	border-radius:10px;
	animation:myflash2 4s;
	animation-iteration-count:infinite;
animation-direction:alternate;
animation-play-state:running;
}
@keyframes myflash2
{
	0% {top:596px;left:0px;}
	10% {top:596px; left:100px;background-color: #f36;}
	20% {top:596px; left:300px; background-color: #f63;}
	30% {top:596px; left:550px; background-color: #f30;}
	40% {top:596px; left:800px; background-color: #f60;}
	50% {top:596px; left: 1054px; background-color: #fc0;}
	60% {top:596px; left: 800px; background-color: #f60;}
	70% {top:596px; left: 550px; background-color: #f30;}
	80% {top:596px; left: 300px; background-color: #f63;}
	90% {top:596px; left: 100px; background-color: #f63;}
	100% {top:596px; left: 0px; background-color:#c36;}
}
.flash1
{
	border-radius: 10px;
	position: relative;
	-webkit-transition:1s;

}
.flash1:hover 
{
	transform: scale(1.1);
}

#container {
            position: relative;
            width: 600px;
            height: 300px;
            border: 3px solid #6f9;
            overflow: hidden;
            margin:auto;
        }
        
        #list {
            position: absolute;
            z-index: 1;
            width: 4200px;
            height: 400px;
        }
        
        #list img {
            float: left;
            width: 600px;
            height: 400px;
        }
        
        #buttons {
            position: absolute;
            left: 250px;
            bottom: 20px;
            z-index: 2;
            height: 10px;
            width: 100px;
        }
        
        #buttons span {
            float: left;
            margin-right: 5px;
            width: 10px;
            height: 10px;
            border: 1px solid #fff;
            border-radius: 50%;
            background: #333;
            cursor: pointer;
        }
        
        #buttons .on {
            background: orangered;
        }
        
        .arrow {
            position: absolute;
            top: 180px;
            z-index: 2;
            display: none;
            width: 40px;
            height: 40px;
            font-size: 36px;
            font-weight: bold;
            line-height: 39px;
            text-align: center;
            color: #fff;
            background-color: RGBA(0, 0, 0, .3);
            cursor: pointer;
        }
        
        .arrow:hover {
            background-color: RGBA(0, 0, 0, .7);
        }
        
        #container:hover .arrow {
            display: block;
        }
        
        #prev {
            left: 20px;
        }
        
        #next {
            right: 20px;
        }
        #lyric
        {
        	text-align: center;
        	color: #f99;
        }
        .cover1{
    position: relative;
    overflow: hidden;
    width: 380px;
    height: 300px;
    border-radius: 10%;
    perspective: 500px;
    transform-origin: 0 0;
    transition: background-color 0.3s;
}

.cover1 img {
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s;
}

.cover1 h2,
.cover1 p {
    position: absolute;
    padding: 0 16px;
    color: #fff;
    opacity: 0;
    transform: translate3d(-160px, 0, -160px);
}

.cover1 h2 {
    bottom: 50%;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
    transition: transform 0.3s cubic-bezier(0, 2.3, 0.8, 1), opacity 0.3s;
}

.cover1 p {
    top: 50%;
    font-size: 14px;
    transition: transform 0.3s 0.1s cubic-bezier(0, 2.3, 0.8, 1), opacity 0.3s 0.1s;
}

.cover1:hover {
    background: #000;
}

.cover1:hover h2,
.cover1:hover p {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.cover1:hover img {
    opacity: 0.4;
}    
}